/* tablet */
@media (max-width: 1000px) {
    .splash .center {
        background-size: 400px;
        width: 100%;
        padding: 1px;
    }

    .splash .center .count,
    .splash .center .info {
        width: 100%;
        height: 50px;
        font-size: 25px;
    }

    .splash .center .count{
        margin-top: 250px;
    }

    .calculator {
        padding-top: 25px;
    }
    
    .all-clear, .delete, .percentage,
    .operator, .decimal {
        background-color: #83161d;
        color: #aeaba9;
        font-size: 30px;
        border-radius: 50%;
        box-shadow: 3px 3px 5px #1a161a;
    }

    .number {
        background-color: #83161d;
        color: #aeaba9;
        font-size: 30px;
        border-radius: 7px;
        box-shadow: 3px 3px 5px #1a161a;
    }

    .all-clear:hover, .delete:hover, .percentage:hover,
    .operator:hover, .decimal:hover, .number:hover,
    .number-span-btn:hover {
        background-color: #83161d;
        color: #aeaba9;
    }
    
    .all-clear:active, .delete:active, .percentage:active,
    .operator:active, .decimal:active, .number:active,
    .number-span-btn:active {
        background-color: #aeaba9;
        color: #83161d;
    }

    .back {
        margin: 25px 0;
    }
}
/* end tablet */

/* smartphone */
@media (max-width: 680px) {
    .splash .center {
        background-size: 300px;
        width: 100%;
        padding: 1px;
    }

    .splash .center .count,
    .splash .center .info {
        width: 100%;
        height: 50px;
        font-size: 25px;
    }

    .splash .center .count{
        margin-top: 170px;
    }

    .calculator {
        padding-top: 20px;
    }

    .back {
        margin: 20px 0;
    }
}
/* end smartphone */

/* no support */
@media (max-width: 300px) {
    .block {
        display: flex;
    }

    .calculator {
        display: none;
    }
}
/* end no support */
